# This unit is for updating my hosts file with StevenBlack's script

[Unit]
Description=Update hosts file daily

[Timer]
OnCalendar=*-*-* 12:00:00
Persistent=true

[Install]
WantedBy=timers.target
